.custom-nav {
  background: linear-gradient(45deg, #000000, #0e0e0e);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    .navbar-logo {
      height: 50px;
      width: auto;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .navbar-menu {
    .navbar-links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;

      .nav-item {
        .nav-link {
          color: #f8f9fa;
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
          }

          &.active {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .custom-nav {
    flex-direction: column;

    .container {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-menu {
      margin-top: 1rem;
      width: 100%;

      .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .nav-item {
          .nav-link {
            padding: 0.5rem 1.5rem;
            width: 100%;
          }
        }
      }
    }
  }
}
