<nav class="navbar custom-nav">
  <div class="container">
    <div class="navbar-brand">
      <img src="logo.svg" alt="logo" class="navbar-logo" routerLink="pagina-principal" />
    </div>
    <div class="navbar-menu">
      <ul class="navbar-links">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/alunos" class="nav-link" routerLinkActive="active">Lista de Alunos</a>
        </li>
        <li class="nav-item" *ngIf="!isUsuarioLogado">
          <a routerLink="/criar-conta" class="nav-link" routerLinkActive="active">Criar Conta</a>
        </li>
        <li class="nav-item" *ngIf="isUsuarioLogado">
          <a routerLink="/conta" class="nav-link" routerLinkActive="active">Conta</a>
        </li>
        <li class="nav-item" *ngIf="isUsuarioLogado">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
